 <section class="f4 mt3 lh-copy">

                  {{#if this.next}}

                    <a href="{{this.nextLink}}" class="link mt4 db tr navy hover-blue"><span class="b">Next: </span>{{this.next}}</a>
                  {{/if}}

                  {{#if this.prev}}
                    <a href="{{this.prevLink}}" class="link mt4 db tl navy hover-blue"><span class="b">Previous: </span>{{this.prev}}</a>
                  {{/if}}

                  
</section>